<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro  name="kb04" params="prefix">
        <link name="table">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://abb_irb1200_support/meshes/irb1200_5_90/scene/kb04_Base_v3.stl"/>
                </geometry>
            </collision>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://abb_irb1200_support/meshes/irb1200_5_90/scene/kb04_Base_v3.stl"/>
                </geometry>
                <xacro:material_abb_ultramarine_blue/>
            </visual>
        </link>
        <joint name="${prefix}base_link-table" type="fixed">
            <origin xyz="0.1459 0.2021 0" rpy="0 0 0"/>
            <parent link="${prefix}base_link"/>
            <child link="${prefix}table"/>
        </joint>
        <link name="${prefix}chuck"/>
        <joint name="${prefix}base_link-chuck" type="fixed">
            <origin xyz="0.756632 0.200927 0.102209" rpy="0.0001095 -0.0036872 -1.5748606"/>
            <parent link="${prefix}base_link"/>
            <child link="${prefix}chuck"/>
        </joint>
        <link name="${prefix}toolFrame"/>
        <joint name="${prefix}base_link-toolFrame" type="fixed">
            <origin xyz="0.0809969 0.0005848 0.219497" rpy="1.5726663 0.006046 -1.5707967"/>
            <parent link="${prefix}tool0"/>
            <child link="${prefix}toolFrame"/>
        </joint>
    </xacro:macro>
</robot>