<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="abb_irb1200_5_90_srdf">

        <group name="manipulator">
            <chain base_link="base_link" tip_link="tool0"/>
        </group>
<!--        <group name="extax">-->
<!--            <joint name="ext_joint_1"/>-->
<!--        </group>-->
        <group name="whole_station">
<!--            <joint name="ext_joint_1"/>-->
            <joint name="rob1_joint_1"/>
            <joint name="rob1_joint_2"/>
            <joint name="rob1_joint_3"/>
            <joint name="rob1_joint_4"/>
            <joint name="rob1_joint_5"/>            <joint name="rob1_joint_3" value="0.44897"/>
            <joint name="rob1_joint_4" value="0.5662"/>
            <joint name="rob1_joint_5" value="-0.67863"/>
            <joint name="rob1_joint_6" value="-0.43109"/>
            <joint name="rob1_joint_6"/>
        </group>
        <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
        <group_state name="all_zero" group="manipulator">
            <joint name="rob1_joint_1" value="0"/>
            <joint name="rob1_joint_2" value="0"/>
            <joint name="rob1_joint_3" value="0"/>
            <joint name="rob1_joint_4" value="0"/>
            <joint name="rob1_joint_5" value="0"/>
            <joint name="rob1_joint_6" value="-0.009"/>
        </group_state>
        <group_state name="home" group="manipulator">
            <joint name="rob1_joint_1" value="0.42577928960737016"/>
            <joint name="rob1_joint_2" value="0.21565327380088078"/>
            <joint name="rob1_joint_3" value="0.3686193877257924"/>
            <joint name="rob1_joint_4" value="0.6880622135409175"/>
            <joint name="rob1_joint_5" value="-0.7080416122464187"/>
            <joint name="rob1_joint_6" value="-0.5671417005127892"/>
        </group_state>
<!--        <group_state name="zeros" group="extax">-->
<!--            <joint name="ext_joint_1" value="0"/>-->
<!--        </group_state>-->
        <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
        <virtual_joint name="world_link" type="fixed" parent_frame="world" child_link="base_link"/>
        <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
<!--        <disable_collisions link1="base_link" link2="extax_link" reason="Adjacent"/>-->
        <disable_collisions link1="base_link" link2="link_1" reason="Adjacent"/>
<!--        <disable_collisions link1="extax_link" link2="link_1" reason="Never"/>-->
<!--        <disable_collisions link1="extax_link" link2="link_2" reason="Never"/>-->
        <disable_collisions link1="link_1" link2="link_2" reason="Adjacent"/>
<!--        <disable_collisions link1="link_1" link2="panels" reason="Never"/>-->
        <disable_collisions link1="link_1" link2="table" reason="Never"/>
        <disable_collisions link1="link_2" link2="link_3" reason="Adjacent"/>
        <disable_collisions link1="link_2" link2="link_5" reason="Never"/>
        <disable_collisions link1="link_2" link2="link_6" reason="Never"/>
        <disable_collisions link1="link_3" link2="link_4" reason="Adjacent"/>
        <disable_collisions link1="link_3" link2="link_5" reason="Never"/>
        <disable_collisions link1="link_3" link2="link_6" reason="Never"/>
        <disable_collisions link1="link_4" link2="link_5" reason="Adjacent"/>
        <disable_collisions link1="link_5" link2="link_6" reason="Adjacent"/>
        <disable_collisions link1="link_5" link2="toolFrame" reason="Never"/>
        <disable_collisions link1="link_6" link2="toolFrame" reason="Adjacent"/>
<!--        <disable_collisions link1="base_link" link2="panels" reason="Adjacent"/>-->
        <disable_collisions link1="base_link" link2="table" reason="Adjacent"/>
<!--        <disable_collisions link1="extax_link" link2="panels" reason="Never"/>-->
<!--        <disable_collisions link1="extax_link" link2="table" reason="Default"/>-->
<!--        <disable_collisions link1="panels" link2="table" reason="Default"/>-->
    </xacro:macro>

</robot>
